.page-link:focus{
    box-shadow: none;
}
.page-link:focus{
    z-index:2;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(227, 225, 226, 0.2)
}
.page-item.active .page-link{
    background-color: #bac3ce;
    border-color: #c3c7cc;
}

.loader {
    width: 100px;
    height: 101px;
    border: 8px solid;
    border-top-color: hsl(154,100%,31%);
    border-left-color: hsl(216,87%,52%);
    border-bottom-color: hsl(8,66%,50%);
    border-right-color: hsl(42,100%,51%);
    border-radius: 50%;
    transform: rotate(45deg);
    margin: 30px auto;
}
.loadContent {
    display: inline-block;
    width: 107px;
    height: 107px;
    /* The background is used to specify the border background */
    background: linear-gradient(90deg, hsla(212,67%,36%,0) 0%,
    hsla(207,69%,51%,0) 76%,
    hsla(0,0%,100%,1) 85%,
    hsla(0,0%,100%,1) 100%); /* W3C */
    /* Background origin is the padding box by default.
    Override to make the background cover the border as well. */
    -moz-background-origin: border;
    background-origin: border-box;
    /* A transparent border determines the width */
    border: 6px solid transparent;
    border-radius: 50%;
    box-shadow: inset -999px 0 0 #fff; /* The background color */
    transform: translate(-8px, 55px);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% { transform: translate(-11px, -11px) rotate(0deg); }
    100% { transform: translate(-11px, -11px) rotate(360deg); }
}

.loaderDot{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate3d(-50%,-50%,0);
}

.dot{
    width: 1rem;
    height: 1rem;
    background: #a0a59d;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}

.dot:nth-child(1){
    animation-delay: 0.1s;
}
.dot:nth-child(2){
    animation-delay: 0.2s;
}
.dot:nth-child(3){
    animation-delay: 0.3s;
}
.dot:nth-child(4){
    animation-delay: 0.4s;
}
.dot:nth-child(5){
    animation-delay: 0.5s;
}
@keyframes slide{
    0%{transform: scale(1);}
    50%{opacity: 0.3;transform: scale(2);}
    100%{transform: scale(1);}
}