<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="user" class="col-xl-12">
    <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">添加用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade show" role="alert" hidden="hidden" id="alertInfo" style="text-align: center"></div>
                    <form>
                        <div class="form-group row">
                            <label for="userName" class="col-sm-3 col-form-label">用户名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="userName" placeholder="请输入真实姓名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="loginName" class="col-sm-3 col-form-label">登录名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="loginName" placeholder="请输入登录名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password1" class="col-sm-3 col-form-label">确认密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password1" placeholder="请再次输入密码">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userRole" class="col-sm-3 col-form-label">用户角色</label>
                            <div class="col-sm-8">
                                <select id="userRole" name="userRole" class="form-control">
                                    <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" onclick="addUser()">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hk-row">
        <div class="col-12">
            <section class="hk-sec-wrapper">
                <!--<button class="btn btn-rounded btn-primary btn-sm hk-sec-title">新增用户</button>-->
                <a class="btn btn-light btn-sm hk-sec-title" style="width: 6rem;" data-toggle="modal" data-target="#addUserModal">
                    <i class="ion ion-md-add-circle"></i><span> 增加用户</span>
                </a>
                <div class="table-wrap">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <caption>系统用户信息</caption>
                        <thead class="thead-light">
                        <tr>
                            <th>序号</th>
                            <th>用户名称</th>
                            <th>登录名</th>
                            <th>用户角色</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="user,state : ${page.content}">
                            <td th:text="${state.count}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.loginName}"></td>
                            <td th:text="${user.role.name}"></td>
                            <td th:switch="${user.status}">
                                <span th:case="1" style="color: green">正常</span>
                                <span th:case="9" style="color: red">禁用</span>
                            </td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td align="center" >
                                <div th:switch="${user.status}" style="display: inline">
                                    <a th:case="1" class="btn btn-light btn-sm" th:onclick="'changeUser('+${user.id}+', 1)'">
                                        <i class="fa fa-ban"></i><span> 禁用</span>
                                    </a>
                                    <a th:case="9" class="btn btn-light btn-sm" th:onclick="'changeUser('+${user.id}+', 2)'">
                                        <i class="glyphicon glyphicon-ok"></i><span> 启用</span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>