<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="module::head"></div>
<body>
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">
		<div th:replace="module::top"></div>
		<div th:replace="module::menu"></div>
        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
			<!-- Container -->
            <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <h6>账户总额</h6>
                        <hr>
                        <div class="hk-row justify-content-center">
                            <div class="col-lg-4 col-md-8">
                                <div class="card text-white" style="background-color: #bb8180">
                                    <div class="card-header">
                                        <div class="card-title" style="text-align: center">
                                            <span><i class="icon-wallet"></i><span> 我的钱包</span></span></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><span>总额:</span></div>
                                        <div class="text-center">
                                            <span class="d-block display-5 mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim"> 1680.23</span></span>
                                            <!--<small class="d-block">35次分佣</small>-->
                                        </div>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <button class="btn btn-outline-dark">交易明细</button>
                                        <button class="btn btn-outline-dark">提现</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6>收益统计</h6>
                        <hr>
                        <div class="hk-row">
                            <div class="col-lg-2 col-md-4 offset-lg-1 offset-md-0">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-5">
                                            <div>
                                                <span class="d-block text-dark font-weight-500">昨日收益:</span>
                                            </div>
                                            <!--<div>-->
                                            <!--<span class="text-success font-14 font-weight-500">+10%</span>-->
                                            <!--</div>-->
                                        </div>
                                        <div class="text-center">
                                            <span class="d-block display-5 text-dark mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim"> 1680.23</span></span>
                                            <small class="d-block">35次分佣</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 offset-md-0">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-5">
                                            <div>
                                                <span class="d-block text-dark font-weight-500">今日收益:</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="d-block display-5 text-dark mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim">680.95</span></span>
                                            <small class="d-block">16次分佣</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 offset-md-0">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-5">
                                            <div>
                                                <span class="d-block text-dark font-weight-500">上月收益:</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="d-block display-5 text-dark mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim">10680.00</span></span>
                                            <small class="d-block">160次分佣</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 offset-md-0">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-5">
                                            <div>
                                                <span class="d-block text-dark font-weight-500">本月收益:</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="d-block display-5 text-dark mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim">1680.43</span></span>
                                            <small class="d-block">660次分佣</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 offset-md-0">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-5">
                                            <div>
                                                <span class="d-block text-dark font-weight-500">累计收益:</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="d-block display-5 text-dark mb-4" style="margin-top: 1rem"><i class="ion-logo-yen"></i><span class="counter-anim">680034.34</span></span>
                                            <small class="d-block">3424次分佣</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
			
            <div th:replace="module::foot"></div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->
    <div th:replace="module::alterModal"></div>
    <div th:replace="module::confirmModal"></div>
    <div th:replace="module::changePasswordModal"></div>

    <!-- jQuery -->
    <script src="/deepor/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/deepor/js/popper.min.js"></script>
    <script src="/deepor/js/bootstrap.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/deepor/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/deepor/js/feather.min.js"></script>


    <!-- Counter Animation JavaScript -->
    <script src="/deepor/js/jquery.waypoints.min.js"></script>
    <script src="/deepor/js/jquery.counterup.min.js"></script>

    <!-- Toast JavaScript -->
    <script src="/deepor/js/jquery.toast.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/deepor/js/init.js"></script>
    <script src="/agent/agent.js"></script>
    <script src="/agent/system.js"></script>
</body>

</html>