<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--header-->
<head th:fragment="head" id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PA</title>

    <!-- Toggles CSS -->
    <link th:href="@{/deepor/vendors/jquery-toggles/css/toggles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/deepor/vendors/jquery-toggles/css/themes/toggles-light.css}" rel="stylesheet" type="text/css">

    <!-- Toastr CSS -->
    <link th:href="@{/deepor/vendors/jquery-toast-plugin/dist/jquery.toast.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link th:href="@{/deepor/dist/css/style.css}" rel="stylesheet" type="text/css">

    <!--Agent css-->
    <link rel="stylesheet" th:href="@{/agent.css}">


</head>
<div></div>
</html>