<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--header-->
<head th:fragment="head" id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>V Platform</title>
    <!-- Custom CSS -->
    <link href="/deepor/css/style.css" rel="stylesheet" type="text/css">
    <!-- Agent css-->
    <link rel="stylesheet" href="/agent/agent.css">

</head>

<!-- Top Navbar -->
<nav th:fragment="top" id="top" class="navbar navbar-expand-xl navbar-light fixed-top hk-navbar">
    <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><i class="ion ion-ios-menu"></i></a>
    <a class="navbar-brand" href="#">
        <img class="brand-img d-inline-block mr-5" src="/img/logo.png" alt="brand" />管理系统
    </a>
    <ul class="navbar-nav hk-navbar-content">
        <li class="nav-item dropdown dropdown-authentication">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media">
                    <div class="media-img-wrap">
                        <div class="avatar">
                            <img src="/img/head.jpg" alt="user" class="avatar-img rounded-circle">
                        </div>
                        <!--<span class="badge badge-success badge-indicator"></span>-->
                    </div>
                    <div class="media-body">
                        <span th:text="${userName}"></span><span><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                <a class="dropdown-item" href="/index"><i class="dropdown-icon zmdi zmdi-account"></i><span>首页</span></a>
                <a class="dropdown-item" data-toggle="modal" data-target="#changePasswordModal"><i class="dropdown-icon zmdi zmdi-edit"></i><span>修改密码</span></a>
                <a class="dropdown-item" href="/logout"><i class="dropdown-icon zmdi zmdi-power"></i><span>退出登陆</span></a>
            </div>
        </li>
    </ul>

</nav>
<!-- /Top Navbar -->


<!-- Vertical Nav -->
<!--<nav th:fragment="menu" class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#way">
                        <i class="ion ion-ios-people"></i>
                        <span class="nav-link-text">渠道管理</span>
                    </a>
                    <ul id="way" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">订单管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">提现管理</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#dash_drp">
                        <i class="ion ion-ios-stats"></i>
                        <span class="nav-link-text">数据汇总</span>
                    </a>
                    <ul id="dash_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">收益统计</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">用户统计</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#sys" aria-expanded="true">
                        <i class="ion ion-ios-settings"></i>
                        <span class="nav-link-text">系统管理</span>
                    </a>
                    <ul id="sys" class="nav flex-column collapse collapse-level-1 show">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/view/system/users">用户管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/view/system/roles">角色管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/view/system/permissions">菜单管理</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    </div>
</nav>-->
<!-- /Vertical Nav -->

<!-- Vertical Nav Dynamic-->
<nav th:fragment="menu-dynamic(menus)" class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item" th:each="parent,state:${menus}">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" th:data-target="'#dash_drp-'+${state.count}">
                        <i th:class="${parent.icon}"></i>
                        <span class="nav-link-text" th:text="${parent.name}"></span>
                    </a>
                    <ul th:id="'dash_drp-'+${state.count}" class="nav flex-column collapse collapse-level-1" th:classappend="${parent.isActive==1}?'show'">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item" th:each="subMenu,subState:${parent.sub}" th:classappend="${subMenu.isActive==1}?'active'">
                                    <a class="nav-link" th:href="'/view'+${subMenu.url}" th:text="${subMenu.name}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    </div>
</nav>
<!-- /Vertical Nav Dynamic-->
<!-- main -->
<div th:fragment="main">

</div>
<!-- main -->

<!--Page-->
<!--page-->
<nav th:fragment="page(total,number)">
    <ul class="pagination justify-content-end" th:if="${total lt 7}">
        <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" >上一页</a></li>
        <li class="page-item" th:if="${total gt 0}" th:each="i:${#numbers.sequence(1,total)}" th:classappend="${number==i}?'active disabled'"><a class="page-link" th:onclick="'turnPage('+${i}+')'" th:text="${i}"></a></li>
        <li class="page-item disabled" th:unless="${total gt 0}"><a class="page-link">1</a></li>
        <li class="page-item" th:classappend="${number==total||total le 0}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'">下一页</a></li>
    </ul>
    <div th:unless="${total lt 7}">
        <ul class="pagination justify-content-end" th:if="${number lt 3}">
            <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" >上一页</a></li>
            <li class="page-item" th:classappend="${number==1}?'disabled active'"><a class="page-link" th:onclick="turnPage(1)">1</a></li>
            <li class="page-item" th:classappend="${number==2}?'disabled active'"><a class="page-link" th:onclick="turnPage(2)">2</a></li>
            <li class="page-item"><a class="page-link"  th:onclick="turnPage(3)" >3</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+${total}+')'" th:text="${total}"></a></li>
            <li class="page-item" th:classappend="${number==total}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'">下一页</a></li>
        </ul>
        <ul class="pagination justify-content-end" th:if="${number eq 3}">
            <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" >上一页</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(1)" >1</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(2)">2</a></li>
            <li class="page-item active disabled"><a class="page-link" th:onclick="turnPage(3)" >3</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(4)" >4</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:text="${total}" th:onclick="'turnPage('+${total}+')'"></a></li>
            <li class="page-item" th:classappend="${number==total}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'">下一页</a></li>
        </ul>
        <ul class="pagination justify-content-end" th:if="${number gt 3 && number lt (total-2)}">
            <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" >上一页</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(1)" >1</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" th:text="${number}-1"></a></li>
            <li class="page-item active disabled"><a class="page-link" th:onclick="'turnPage('+${number}+')'" th:text="${number}"></a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'"  th:text="${number}+1"></a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:text="${total}" th:onclick="'turnPage('+${total}+')'" ></a></li>
            <li class="page-item" th:classappend="${number==total}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'">下一页</a></li>
        </ul>
        <ul class="pagination justify-content-end" th:if="${number eq (total-2)}">
            <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'">上一页</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(1)" >1</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'" th:text="${number}-1"></a></li>
            <li class="page-item active disabled"><a class="page-link" th:onclick="'turnPage('+${number}+')'" th:text="${number}"></a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'" th:text="${number}+1"></a></li>
            <li class="page-item"><a class="page-link" th:text="${total}" th:onclick="'turnPage('+${total}+')'" ></a></li>
            <li class="page-item" th:classappend="${number==total}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'">下一页</a></li>
        </ul>
        <ul class="pagination justify-content-end" th:if="${number gt (total-2)}">
            <li class="page-item" th:classappend="${number==1}?'disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}-1)+')'">上一页</a></li>
            <li class="page-item"><a class="page-link" th:onclick="turnPage(1)" >1</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&#8230</a></li>
            <li class="page-item"><a class="page-link" th:onclick="'turnPage('+(${total}-2)+')'" th:text="${total}-2"></a></li>
            <li class="page-item" th:classappend="${number eq (total-1)}?'disabled active'"><a class="page-link" th:onclick="'turnPage('+(${total}-1)+')'" th:text="${total}-1"></a></li>
            <li class="page-item" th:classappend="${number eq total}?'disabled active'"><a class="page-link" th:text="${total}" th:onclick="'turnPage('+${total}+')'" ></a></li>
            <li class="page-item" th:classappend="${number==total}?'disabled disabled'"><a class="page-link" th:onclick="'turnPage('+(${number}+1)+')'" >下一页</a></li>
        </ul>
    </div>
</nav>
<!--Page-->

<!-- message -->
<div th:fragment="alterModal" class="modal fade" id="alterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle1">信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 id="alterModalMessage"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" id="alterButton" class="btn btn-secondary" data-dismiss="modal" onclick="messageReload()">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm -->
<div th:fragment="confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle2">信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 id="confirmModalMessage"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger"  id="confirmButton">确认</button>
            </div>
        </div>
    </div>
</div>

<!--withdraw-->
<!-- Modal -->
<div th:fragment="withdrawModal(balance)" class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="withdrawModalCenterTitle">申请提现</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="balanceAmount" class="col-sm-3 col-form-label">可提现额度</label>
                        <div class="col-sm-8">
                            <span style="color: red;font-size: x-large">
                                <i class="ion-logo-yen"></i>
                                <span class="counter-anim" id="balanceAmount" th:text="${balance}"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="withdrawAmount" class="col-sm-3 col-form-label">提现金额</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="withdrawAmount" placeholder="输入提现金额">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="withdrawAccount" class="col-sm-3 col-form-label">账号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="withdrawAccount" placeholder="输入支付宝账号">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="withdrawName" class="col-sm-3 col-form-label">姓名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="withdrawName" placeholder="输入真实姓名">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="withdrawType" class="col-sm-3 col-form-label">提现方式</label>
                        <div class="col-sm-8">
                            <select id="withdrawType" name="withdrawType" class="form-control">
                                <option th:value="支付宝">支付宝</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="withdrawRemark" class="col-sm-3 col-form-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="withdrawRemark" placeholder="输入提现备注">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="withdrawPost()">提交申请</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--withdraw-->
<!--Change Password-->
<!-- Modal -->
<div th:fragment="changePasswordModal" class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">修改密码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger fade show" role="alert" hidden="hidden" id="alertInfo" style="text-align: center"></div>
                <form>
                    <div class="form-group row">
                        <label for="oldPassword" class="col-sm-3 col-form-label">原密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="oldPassword" placeholder="请输入原密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-3 col-form-label">新密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword1" class="col-sm-3 col-form-label">确认新密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newPassword1" placeholder="请再次输入新密码">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="changePassword()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Change Password-->
<!--Loading-->
<div th:fragment="loading-a" class="loading" style="display: none; ">
    <div style=" position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color: #f5f5f5;opacity:0.5;z-index: 1000;"></div>
    <div style="position: absolute;top: 40%; left: 40%;width: 20%; height: 20%;  z-index: 1001;text-align:center;">
        <div class="loader">
            <div class="loadContent"></div>
        </div>
    </div>
</div>
<!--Loading-->
<!--Loading-->
<div th:fragment="loading-b" class="loading" style="display: none; ">
    <div style=" position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color: #f5f5f5;opacity:0.5;z-index: 1000;"></div>
    <div style="position: absolute;top: 40%; left: 10%;width: 80%; height: 20%;  z-index: 1001;text-align:center;">
        <div class="loaderDot">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<!--Loading-->
<!-- Footer -->
<div th:fragment="foot" class="hk-footer-wrap container">
    <footer class="footer">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p style="text-align: center">Pampered by<a href="#" class="text-dark" >Vike0906</a> © 2019</p>
            </div>
        </div>
    </footer>
</div>
<!-- /Footer -->

</html>