<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="agent" class="col-xl-12">
    <div class="hk-row">
        <div class="col-12">
            <section class="hk-sec-wrapper">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <a class="btn btn-light btn-sm hk-sec-title" style="width: 6rem;" data-toggle="modal" data-target="#addAgentModal">
                        <i class="ion ion-md-add-circle"></i><span> 添加渠道</span>
                    </a>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" th:value="${queryStr}" id="queryStr" type="text" placeholder="输入手机号码" aria-label="Search">
                        <a class="btn btn-light btn-sm" onclick="searchAgent()"><i class="ion-ios-search"></i><span> 查找</span></a>
                    </form>
                </div>
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <caption th:text="'共'+${page.getTotalElements()}+'条记录'"></caption>
                            <thead class="thead-light">
                            <tr>
                                <th>昵称</th>
                                <th>登录名</th>
                                <th>手机号</th>
                                <th>级别</th>
                                <th>分佣比例</th>
                                <th>佣金总额</th>
                                <th style="max-width: 200px">分配链接</th>
                                <th>状态</th>
                                <th>加入时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${page.content.size()>0}" th:each="agent,state : ${page.content}">
                                <td th:text="${agent.nickName}"></td>
                                <td th:text="${agent.loginName}"></td>
                                <td th:text="${agent.mobile}"></td>
                                <td th:switch="${agent.level}">
                                    <span th:case="1">一级代理</span>
                                    <span th:case="2">二级代理</span>
                                </td>
                                <td th:text="${agent.ratio}+'%'" align="center"></td>
                                <td th:text="${#numbers.formatDecimal(agent.amount/100.0,1,2)}+' 元'" align="center"></td>
                                <td >
                                    <span class="d-inline-block text-truncate" style="max-width: 150px;vertical-align: middle" data-toggle="tooltip-info" data-placement="top" th:title="${queryUrl}+'/'+${agent.url}" th:text="${queryUrl}+'/'+${agent.url}" th:id="${agent.id}"></span>
                                    <a class="btn btn-light btn-sm" th:onclick="'copyUrl('+${agent.id}+')'" style="vertical-align: middle"><i class="ion-md-copy"></i><span> 复制</span></a>

                                </td>
                                <td th:switch="${agent.status}">
                                    <span th:case="1" style="color: green">正常</span>
                                    <span th:case="9" style="color: red">禁用</span>
                                </td>
                                <td th:text="${#dates.format(agent.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td align="center" >
                                    <div th:switch="${agent.status}" style="display: inline">
                                        <a th:case="1" class="btn btn-light btn-sm" th:onclick="'changeAgent('+${agent.id}+', 1)'">
                                            <i class="fa fa-ban"></i><span> 禁用</span>
                                        </a>
                                        <a th:case="9" class="btn btn-light btn-sm" th:onclick="'changeAgent('+${agent.id}+', 2)'">
                                            <i class="glyphicon glyphicon-ok"></i><span> 启用</span>
                                        </a>
                                        <input th:id="'editAgent'+${agent.id}" th:nickName="${agent.nickName}" th:loginName="${agent.loginName}" th:mobile="${agent.mobile}" th:ratio="${agent.ratio}" hidden="hidden">
                                        <a class="btn btn-light btn-sm" th:onclick="'editAgentModal('+${agent.id}+')'">
                                            <i class="ion-md-build"></i><span> 修改</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${page.content.size()==0}" align="center" ><td colspan="10">暂无数据</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addAgentModal" tabindex="-1" role="dialog" aria-labelledby="addAgentModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAgentModalCenterTitle">添加渠道</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="nickName" class="col-sm-3 col-form-label">昵称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nickName" placeholder="请输入昵称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="loginName" class="col-sm-3 col-form-label">登录名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="loginName" placeholder="请输入登录名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mobile" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ratio" class="col-sm-3 col-form-label">分佣比例(%)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="ratio" placeholder="请输入分佣比例（1~100）">
                            </div>
                        </div>
                        <div class="form-group row" id="passwordDiv">
                            <label for="password" class="col-sm-3 col-form-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group row" id="passwordDiv1">
                            <label for="password1" class="col-sm-3 col-form-label">确认密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password1" placeholder="请再次输入密码">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" onclick="addAgent()" id="addAgentButton">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editAgentModal" tabindex="-1" role="dialog" aria-labelledby="editAgentModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAgentModalCenterTitle">修改渠道</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="editAgentId">
                        <div class="form-group row">
                            <label for="editNickName" class="col-sm-3 col-form-label">昵称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNickName" placeholder="请输入昵称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="editLoginName" class="col-sm-3 col-form-label">登录名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editLoginName" placeholder="请输入登录名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="editMobile" class="col-sm-3 col-form-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editMobile" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="editRatio" class="col-sm-3 col-form-label">分佣比例(%)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="editRatio" placeholder="请输入分佣比例（1~100）">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" onclick="editAgent()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>