<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bonus" class="col-xl-12">
    <link rel="stylesheet" href="/deepor/css/daterangepicker.css">
    <div class="hk-row">
        <div class="col-12">
            <section class="hk-sec-wrapper">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <form class="form-inline mt-2 mt-md-0 row col-lg-6 col-md-4 col-12">
                        <!--<div class="col-sm-12">-->
                            <!--<span><i style="font-size: 1.5rem;vertical-align: middle" class="fa fa-calendar"></i> </span>-->
                            <!--<input type="text" class="form-control" id="queryDate" placeholder="选择查询日期" th:value="${queryDate}" style="width: 14rem;vertical-align: middle">-->
                        <!--</div>-->
                        <div id="reportrange" class="form-control text-truncate">
                            <input type="text" class="form-control" id="queryDate" placeholder="选择查询日期" th:value="${queryDate}" style="width: 14rem;vertical-align: middle" hidden>
                            <i class="fa fa-calendar text-light-40"></i>&nbsp;
                            <span th:text="${queryDate}"></span> <i class="fa fa-caret-down text-light-40 font-12 ml-10"></i>
                        </div>
                    </form>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" id="queryStr" type="text" th:value="${queryStr}" placeholder="输入代理/客户手机号" aria-label="Search">
                        <a class="btn btn-light btn-sm" onclick="searchBonus()"><i class="ion-ios-search"></i><span> 查找</span></a>
                    </form>
                </div>
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <caption th:text="'平台分佣明细（共'+${page.getTotalElements()}+'条记录）'"></caption>
                            <thead class="thead-light">
                            <tr>
                                <th>时间</th>
                                <th>代理电话</th>
                                <th>客户名称</th>
                                <th>客户电话</th>
                                <th>业务名称</th>
                                <th>分佣金额</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${page.content.size()>0}" th:each="bonus,state : ${page.content}">
                                    <td th:text="${#dates.format(bonus.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${bonus.agentMobile}"></td>
                                    <td th:text="${bonus.clientName}"></td>
                                    <td th:text="${bonus.clientMobile}"></td>
                                    <td th:text="${bonus.business}"></td>
                                    <td th:text="${#numbers.formatDecimal(bonus.amount/100.0,1,2)}+' 元'" align="center"></td>
                                    <td th:switch="${bonus.status}">
                                        <span th:case="1" style="color: green">已结算</span>
                                        <span th:case="9" style="color: red">处理中</span>
                                    </td>
                                </tr>
                                <tr th:if="${page.content.size()==0}" align="center" ><td colspan="7">暂无数据</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
                </div>
            </section>
        </div>
    </div>

    <!-- Daterangepicker JavaScript -->
    <script src="/deepor/js/moment.min.js"></script>
    <script src="/deepor/js/daterangepicker.js"></script>
    <script>
        $('#reportrange').daterangepicker(
            {
                autoUpdateInput: false,
                startDate: moment(),
                endDate: moment(),
                maxDate: moment(),
                minDate:'2019-01-01',
                locale: {
                    format: "YYYY-MM-DD",
                    separator: " - ",
                    applyLabel: "确认",
                    cancelLabel: "清空",
                    fromLabel: "开始时间",
                    toLabel: "结束时间",
                    customRangeLabel: "自定义",
                    daysOfWeek: ["日","一","二","三","四","五","六"],
                    monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
                }
            }
        ).on('cancel.daterangepicker', function(ev, picker) {
            $("#queryDate").val("");
            $('#reportrange span').html('请选择查询日期范围');
        }).on('apply.daterangepicker', function(ev, picker) {
            $('#queryDate').val(picker.startDate.format('YYYY-MM-DD')+" 至 "+picker.endDate.format('YYYY-MM-DD'));
            $('#reportrange span').html(picker.startDate.format('YYYY-MM-DD')+" 至 "+picker.endDate.format('YYYY-MM-DD'));
            queryByDate();
        });
    </script>
</div>
</body>
</html>