<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="withdraw" class="col-xl-12">
    <div class="hk-row">
        <div class="col-12">
            <section class="hk-sec-wrapper">
                <h5>提现记录</h5>
                <hr>
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <caption th:text="'提现记录（共'+${page.getTotalElements()}+'条记录）'"></caption>
                            <thead class="thead-light">
                            <tr>
                                <th>订单号</th>
                                <th>账户信息</th>
                                <th>提现方式</th>
                                <th>账号</th>
                                <th>姓名</th>
                                <th>提现金额</th>
                                <th>账户余额</th>
                                <th>状态</th>
                                <th>提现时间</th>
                                <th th:if="${isAudit==1}">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${page.content.size()>0}" th:each="withdraw,state : ${page.content}">
                                <td th:text="${withdraw.orderNo}"></td>
                                <td th:text="${withdraw.agentInfo}"></td>
                                <td th:text="${withdraw.type}"></td>
                                <td th:text="${withdraw.account}"></td>
                                <td th:text="${withdraw.name}"></td>
                                <td th:text="${#numbers.formatDecimal(withdraw.amount/100.0,1,2)}"></td>
                                <td th:text="${#numbers.formatDecimal(withdraw.balance/100.0,1,2)}"></td>
                                <td align="center">
                                    <span th:if="${isAudit==1}">
                                        <span th:if="${withdraw.status==1}">审核中</span>
                                        <span th:if="${withdraw.status==2}">已到账</span>
                                        <span th:if="${withdraw.status==3}">已拒绝</span>
                                    </span>
                                    <span th:unless="${isAudit==1}">
                                        <span th:if="${withdraw.status==1}">待审核</span>
                                        <span th:if="${withdraw.status==2}">已到账</span>
                                        <span th:if="${withdraw.status==3}">提现失败</span>
                                    </span>

                                </td>
                                <td th:text="${#dates.format(withdraw.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:if="${isAudit==1}" align="center">
                                    <a class="btn btn-light btn-sm" th:onclick="'auditWithdraw('+${withdraw.id}+')'">
                                        <i class="ion-ios-paper"></i><span> 审核</span></a>
                                </td>
                            </tr>
                            <tr th:if="${page.content.size()==0}" align="center" >
                                <td th:if="${isAudit==1}" colspan="10">暂无数据</td>
                                <td th:unless="${isAudit==1}" colspan="9">暂无数据</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>